


<div class="container12">
    <div class="row">
        <div class="catal"><h2><a href="">Каталог</a></h2>





            <div class="poem1" ng-click="showPoem($event)"><h3><button>Вірш 1</button></h3></div>
    	     <div class="text1">Out there, in endless fields and meadows where chamomiles and thyme are blooming... 
            There I can remember things with my deepest memory. It's some inner part of me I cannot reach with my hands - 
            only gently touch with my Thought.…
            It's there that the Angel-Bird, thin-winged and weightless, has found me resting inside the flower
            In a huge red poppy, I lay, woven of the nectar of joy and happiness. 
            I had been born there to be relaxed and aware, born for disembodiment from the fatigue of human life…
            When I was a flower I would experience the inconceivable bliss. Then, to the sounds of a wonderful and tender song, the Angel-Bird took me out of my small box, showing black. She embraced me with her silk glowing red and sang me of Genesis, Forgiveness, Love and God ...
            I was listening carefully, the whole flower's soul of mine clang to this source of the life-giving Sunlight…
            Like a sponge, I was soaking up the knowledge of what the bliss of the Absolute was all about... once again forgetting that my journey was not over, and soon, dressed as a chrysalis, I would travel to the frontier of the Worlds aiming for an incarnation and Life.

            Там где поля бескрайние, луга цветущие ромашкой и чабрецом...
            Там помню я глубинной памятью, тем до чего рукой достать нельзя
            а только дотянуться мыслью...
            Там, Ангел-птица, тонкокрылая и невесомая меня нашла в цветке
            В огромной красном маке, я соткан был из нектара, радости и счастья
            я там рожден был для отдыха и осознания, развоплощения усталости
            от жизни человеком...
            Я ведал незримое блаженство будучи цветком, потом из маленькой чернеющей коробочки, под песню дивную и нежную, в объятья алеющего шелка, Ангел-птица приняла меня и пела мне песнь песней
            Бытия, Прощения,
            Любви и Бога...
            Я слушал и внимал и вся моя душа цветка припала к этому источнику живительного солнечного света..
            Как губка впитывал я Знание о том что есть блаженство Абсолюта...
            Опять забыв о том, что путь мой не окончен и вскоре Куколкой я облаченный поеду на рубеж миров для воплощения и Жизни.
            </div>
            <div class="poem2" ng-click="showPoem($event)"><h3><button>Вірш 2</button></h3></div>
            	<div class="text2">
            	                 PRAYER

                    A new day is rising. I’ve focused my eyes on
                    The dawning horizon. 
                    I smile.
                    A new day for living, good deeds and forgiving.
                    For Love and believing
                    In life!

                    Life’s full of confusion and sore disillusion
                    I’ve come with solution today  
                    For those who are worried. For those who feel sorry
                    In God’s name and glory I’ll pray

                    It’s going to bring good fortune
                    It’ll give me peace of mind
                    Join with me in my praying
                    And let your spirits fly!

                    Ask of God and He’ll give you a new life.

                         BETTER FUTURE

                    Dreaming…  I hear voices in my head
                    Living in a big city makes me mad
                    The high-rise city jungles have become
                    Our sanctuary.
                    The price we pay for progress is too high
                    So very very!

                    There must be a better way for the world.
                    The liner Earth is running aground.
                    There must be a chance for us to win the better future
                    The wayout should be found!
                    The life we live is the gift from the Lord
                    Our grandkids TOO should see the sun. 
                    We’ve got to fight our way towards a better future –
                    The best is yet to come.

                    Hatred. So much hatred in our lives.
                    Why are … Why are we acting so unwise? 
                    We’ve made this world so cruel and so harsh – without forgiving
                    No time to contemplate and stop this rush  
                    Big city living! 

         </div>  
            <div class="poem3" ng-click="showPoem($event)"><h3><button>Вірш 3</button></h3></div>
            	<div class="text3">
            		В медленном треке слова слышны. Если говорить о припеве....
                    When everything falling apart you always stay deep in my heart. When my heart beat... Stay with me forever...
                    Да, это набросок всего лишь.... Просто голый набросок без куплетов...

                     припевы хотя бы сделай. А я уже от них оттолкнусь...
                    Да... В этом треке еще "детский голосок" произносит When the tears drop down....
                    И в конце звучит повтор when the tears, when the tears.... Не уверен, что по смыслу уместно повторять ТАК....



                    I hold your hand in mine.
                    Our souls are tied too tight
                    I'm hearing your heart beating
                    We're lovers so commited

                    When everything is falling apart
                    Your image's gonna stay in my heart
                    It seemed so very wrong from the start
                    And yet, we're deep in each other's hearts

                    My Heart, Sweet-Heart, stay with me forever

                    When everything starts falling apart
                    You'll always stay deep in my heart

                    I knew your love that night
                    I thought you'd be all mine
                    But now i found you're leaving
                    This bliss was so deceiving ..... 



                     



                    Быстрый трек....

                    Slow motion . Do you feel it tonight?
                           Can you feel it tonight?
                          Would you feel it tonight? Could you you feel it tonight? GonnA DO IT TONIGHT.
                           
                     Welcome to my life, it's colourful and bright -
                     Here we can stay together .
                     I'll leave it up to you, I'll start my life anew - 
                     Let us share our sinful pleasures.
                     
                     Stormy ocean, waves' commotion.
                     Lovers sighing, breathing.
                     Stronger, Deeper... Till our passion's quenched! 
                     
                     Slow motion . Do you feel it tonight?
                           Can you feel it tonight?
                          Would you feel it tonight? Could you you feel it tonight? GonnA DO IT TONIGHT.
                           

                    Come and close the door, nothing to wait for -
                    Hope you've made the right decision.
                    Let us not be fast, let these motions last -
                    Bodies writhing in collision.




                    Ванюш, хелоу!

                     Все названия рабочие, конечно)))

                    1. Better Future. Здесь надо об.... "Давайте любить друг друга, давайте споем эту песню вместе, давайте дарить
                     друг другу любовь, давайте возьмемся за руки"
                    ..)) Это общий посыл.)) Очередной Арми оф Лаверс.... У меня есть две знакомы детки. Девочки, лет 6 и 8-9. 
                    Они ходили в американскую школу, чаще заграницей,
                     чем здесь... В общем, я бы хотел, что бы в припеве пели дети..)))

                    2. Zombie Land. Грустная, Но (!!!) быстрая. Там все понятно. "Я никогда не вернусь в ваш, мать его, Зомби Ленд"))


                    3. Prayer. Медленная, но веселая (!!!) Это - "песня-прикол". У Депешей есть песня Condemnation. Навеяло..))) 
                    Я не со всем знаю, о чем здесь петь... И!!!
                     В песне НЕТ припева! Вдруг!)))) Возможно здесь должны быть слова.... "Радость и гармония... Разлука и тоска... 
                    Фатум и неизбежность.... все это во
                     мне-е-е-е-е-е.... Терпение и смирение.... Огонь и Вода.... Целый, ёпта, Инь и Янь!!! Вся вселенная - во
                     мне-е-е-е-е" Думаю, будет прикольно сделать такой
                     стих! ))) Да..... мне нужно найти толстых негритянок для этого трека!!! )))

                    4. Give me Your Heart To Me. А вот это уже грустная песня. Трагическая даже.... Это "песня-эшафот". Вообще, 
                    может ее так и назвать? )) Там есть барабанная дробь, в центре поет католический Падре))) В куплете... -
                     "Нет шанса... Разрушен баланс... Все бренно.... Я умру за нас.... " В припеве - "Я иду склонив голову... 
                    А ты одета в черное. Ты в моих мыслях... И ты как всегда одета в черное... Время пришло.. И ты одета в черное..
                     Я уже вижу, я слышу эту дробь... Ведь ты одета в черное"  Ты прости мне мои литературные излияния...))) Но...
                     Я представлял героя, у которого связаны руки, и он делает последние шаги, поднимается на плаху, на Гильотину... 
                    Это последние глотки воздуха... Французская Революция? Можно даже вставить слова Моншер-Монамур!! Вообще будет 
                    класс! )))!!!)) Вот так вот....   


                    На связи, дорогой! )))) 
            	</div>
            <div class="poem4" ng-click="showPoem($event)"><h3><button>Вірш 4</button></h3></div>
            		<div class="text4">
            			ANOTHER DAY (8 NOVEMBER) 

                    1

                    This sadness comes when i'm alone.
                    I cast my mind back in past
                    That winter day she went away...
                    It all happened way too fast.

                    I view these pictures on the wall
                    I'm trying to forget.
                    I know someday you're going to call
                    But i don't need you back.



                    Forget the days, forget the nights,
                    Forget that feeling in our minds.
                    Forget the days, forget the nights,
                    Ain't no use tryin'.

                    Forget the sun, forget that light,
                    Forget the moments when we'd fly.
                    Forget the days, forget the nights,
                    But please don't cry.

                    2

                    This sadness stays, I'm still alone.
                    Can't stop thinking about you.
                    That summer night you came again.
                    You said we should start anew.

                    We tried to mend the broken cup.
                    Kept trying to forget.
                    This senseless run we put to stop
                    There must be no regret!


            		</div>
            </div>
            
        </div>
    </div>
</div>