

<!--content -->

	<!--<div class="container">
		<div class="row">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="" ng-model="radioModel">Авторські <span class="badge">18</span></a>
					
				</li>
				<li>
					<a href="">Книги <span class="badge">10</span></a>
				</li>
				<li>
					<a href="">Медицина <span class="badge">9</span></a>
				</li>
				<li>
					<a href="">Архіткетура <span class="badge">12</span></a>
				</li>
			</ul>
		</div>		
	</div>
	<div class="container">
		<div class="row masonry" ng-model="radioModel" data-colums>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Назва поста</a></h3>
					<p>ddddddd</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div ng-model="radioModel" class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Назва поста</a></h3>
					<p>ddddddd</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div ng-model="radioModel" class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Назва поста</a></h3>
					<p>ddddddd</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Назва поста</a></h3>
					<p>ddddddd</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div> -->

<!--
	<div class="container-fluid">			
		<div>
		    <div class="btn-group">
		        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'авторські '">
		        	Авторські<span class="badge">4</span>
		        </label>
		        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Медицина'" uncheckable>Медицина<span class="badge">1</span></label>
		        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Архітектура'" uncheckable>Архітектура<span class="badge">2</span></label>
		        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Книги'" uncheckable>Книги<span class="badge">5</span></label>
		    </div>

		    <pre>{{radioModel || 'null'}}</pre>   
		</div>
	</div>	

	 <div class="container">
	  <p>Select a tab by setting active binding to true:</p>
	  <p>
	    <button type="button" class="btn btn-default btn-sm" ng-click="active = 1">Select second tab</button>
	    <button type="button" class="btn btn-default btn-sm" ng-click="active = 2">Select third tab</button>
	  </p>
	</div> -->

	<div class="container">
		<uib-tabset active="active">
			<uib-tab index="1" heading="Архітектура">
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div ng-model="radioModel" class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">The strategy of building</a></h3>
					<p>Text for competitive tablet</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">The Building Fabric Strategy in three sentences</a></h3>
					<p>Master Plan</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

			</uib-tab>
			<uib-tab index="2" heading="Авторські">

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">My records</a></h3>
					<p>diferent</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">My articles</a></h3>
					<p>diferent</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			</uib-tab>
			<uib-tab index="3" heading="Медицина">

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Diagnosis 1</a></h3>
					<p>Tomografi</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Diagnosis 2</a></h3>
					<p>Tomografi</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

			</uib-tab>
			<uib-tab index="4" heading="Книги">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Eva Gata</a></h3>
					<p>Translation</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<div class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
					<div class="caption">
					<h3><a href="#">Gauk</a></h3>
					<p>Translation</p>
					<a href="#" class="btn btn-success">Більше<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			
		</uib-tabset>
	</div>

<!-- <div ng-controller="TranslationsController">
    <h4>Переклади по групах</h4>
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    
    
    <pre>The selected page no: {{currentPage}}</pre>
    <button type="button" class="btn btn-info" ng-click="setPage(1)">Set current page to: 1</button>

   

</div> -->