
<!--content -->

<div class="container-fluid">
    <div class="row">
    	
	    	<div class="Bio" ng-click="showBio()"><h3>Моя Біографія</h3></div>
	    	<div class="iAm">
	       Іван Попатенко народився в 1980 році. З раннього дитинства він зацікавився англійською мовою, оскільки в його сім'ї
постійно лунала англомовна музика. В 1993 році до Іванової школи завітали християни-місіонери з США. Так Ваня став 
відвідувати недільні зібрання протестантської церкви C.B.U. (Christian Believers United). За потяг до знань Іван отримав
від пастора Церкви Біблію англійською мовою. Завдяки регулярному читанню Святого Письма в перекладі King'a James'a
Ваня суттєво підвищив рівень володіння мовою і став потроху перекладати сам. Для іноземців з Нідерландів, Ірландії,
Швеції, Британії, США та Канади. 
В 1997 році після закінчення середньої загальноосвітньої школи №69 (з відзнакою) Іван вступає до філологічного факультету
Львівського Національного Університету ім. І. Франка.
Від середини 1990-их до 2005 - 2006 року Іван надавав послуги гіда-перекладача, а також співпрацював із низкою організацій (зокрема
кількома львівськими шлюбними агенціями). Працюючи в цій сфері, він допоміг не одній українській жінці знайти нареченого з-за кордону, вів переписку
, працював перекладачем на зустрічах, істотно збагативши свій досвід спілкування з іноземними громадянами. У тур-фірмі "Юрій V" (2001- 2003) Іван перекладав документи, а також надавав 
консультації при заповненні анкет на британську візу. У тур-агентстві "ГалАкс" (2006 - 2007) Іванова діяльність була пов'язана 
із студентськими програмами Work &amp; Travel, Au-Pair та Internship (а також переклад документів, допомога при заповненні анкет
на американську візу і послуги репетитора англійської мови).
 Приблизно в той самий період І.А. Попатенко співпрацює з львівським колл-центором UA-Call. Там він спочатку працює
у відділі теле-маркетингу телефонної компанії World Link Solutions (Бруклін, США), а згодом переходить на посаду 
телефонного out-source диспетчера фірми-перевізника з Каліфорнії EDI Trucking (пошук вантажів для трейлерів і фургонів 
компанії, реєстрація вантажів, аналітика ринку перевезень). 
 Мало не найголовнішим напрямком діяльності Івана увесь час з 1996 року було викладання англійської мови (переважно
приватні уроки розмовної англійської мови, підготовка до вступних іспитів чи тестів) та переклад текстів різноманітної
тематики (архітектура, мовознавство, медицина, біохімія, будівництво та інше). В 1998 році він знайомиться із винахідником Олександром
Єкімовських і працює над перекладами його патентів, технічної документації і статей про його численні винаходи. Його
переклади використані на сайті компанії "Теплоакадемія", заснованої Єкимовських на початку 2000-х. 
Відтоді І. Попатенко переклав контент для понад 10 сайтів. Також ним було перекладено дві книжки : художня книжка львівської
письменниці Еви Гати "Катарсис" (з укр. на російську) та наукова : Ілюстрована енциклопедія вірменської культури в Україні (наукова
праця обсягом понад 800 сторінок + каталог експонатів вірменської культури, що зберігаються в музеях по всій Україні та в Криму.
Переклад цієї об'ємної праці було виконано англійською мовою, а презентація книжки викликала широкий резонанс. Нині авторка-укладачка
Енциклопедії І.Гаюк продовжує займатися історико-культурологічними дослідженнями, відвідує конференції за кордоном, користуючись
послугами пана Попатенка от уже понад 5 років.
 Іван Попатенко переклав англійською і начитав численну кількість рекламних роликів для львівських телеканалів та виробників української
продукції, переклав кілька фільмів львівського режисера Олега .... На професійному рахунку в пана Попатенка також участь в різних
конференціях (конференція з містобудівництва при Львівській Міськраді, 2010), робота перекладачем під час приїзду до Львову легендарного рок-
гурту Uriah Heep (2012) i Ken Hensley (2013). Останньою роботою перекладача на офіційному заході вищого рівня була конференція з Безпеки життє-
діяльності (Occupational Safety) в жовтні 2015.
 Іван Попатенко вдало суміщає викладацьку, перекладацьку і мистецьку діяльності. В якості вокаліста й шоу-мена він приймав участь в гуртах
"МЕД" та "Black Jack". Останні досить вдало прорвались на хвилі вітчизняного Радіо-Рокс із піснями Mysterious Lady та 
"Дай свого тіла, бейбі". В складі кавер-гуртів "Барви Блюзу" і "Lucky Lads" відпрацював зо два десятка вечірок для 
іноземних гостей - конферуючи шоу англійською мовою. В складі ансамблю єврейської пісні "Varnitshkes" виступав на сценах театрів у Римі, 
Відні, Санкт-Петербурзі (2014), а також у Лондоні, в рамках IV Фестивалю хорового єврейського співу. Приймав участь в волонтерських проектах
при єврейській благодійній організації "Хесед-Ар'є" (2009 - 2015).
 Будучи співаком, виконавцем і автором власних пісень І. Попатенко близько 20 років співпрацює з іншими українськими авторами-виконавцями : він 
регулярно допомагає у поетичному перекладі пісень, створених російською або українською мовами, надаючи змогу вітчизняним артистам знайти
дорогу до зарубіжного слухача. 
 Даний сайт    
	    </div>
	    <div class="Info" ng-click="showInfo()">
	        <h3>Загальна інформація</h3>
	    </div>
	    <div class="infotekst">
	        <p>Відомий нідерландський історик культури Йоган Гейзінга вважав її (культуру) грою, а точніше, він був упевнений, що “через гру культура виражає своє розуміння життя і світу”. Він навіть вивів нову назву людини – Homo ludens – людина ігрова. Впевнено можна стверджувати, що ми (група “Black Jack”) швидше належимо до виду Homo ludens, ніж до Homo sapiens. Цим, власне, все і пояснюється.</p>
	    </div>
	</div>    
</div>
	
<div ng-controller="CarouselController">
  <div class="carousel-height" my-carousel></div>
</div>












